*{
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

#board {
   display:flex;
   height: 300px;
   width: 100%;
   justify-content:center;
}
#board div{
    border: 1px grey solid;
    padding: 10px;
}
#row {
    width:50%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
}
.pocket {
    display:flex;
    width:20%;
    justify-content: center;
}
#pocket0 {
    height: 100%;
    width: 50%;
    border-radius:60%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
}
#pocket1 {
    height: 100%;
    width:50%;
    border-radius:60%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
}
#row div {
    border-radius:50%;
    height:30%;
    width: 16%;
}
.marble {
    display:flex;
    flex-flow: row wrap;
}
#row div div {
    border-radius:50%;
    height:8%;
    width:4%;
}
.mar{
    height: 8%;
    width:4%;
    border-radius:50%;
}
[id='0'] {
    order:6;
}
[id='1']{
    order:5;
}
[id='2']{
    order:4;
}
[id='3']{
    order:3;
}
[id='4']{
    order:2;
}
[id='5']{
    order:1;
}
[id='6']{
    order:7;
}
[id='7']{
    order:8;
}
[id='8']{
    order:9;
}
[id='9']{
    order:10;
}
[id='10']{
    order:11;
}
[id='11']{
    order:12;
}