*{
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

#board {
   display:flex;
   height: 300px;
   width: 100%;
   justify-content:center;
}
#board div{
    border: 1px grey solid;
    padding: 10px;
}
#row {
    width:50%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;


}
.pocket {
    display:flex;
    width:20%;
    justify-content: center;
}
#pocket0 {
    height: 100%;
    width: 50%;
    border-radius:60%;
    
}

#pocket1 {
    height: 100%;
    width:50%;
    border-radius:60%;

}


#row div {
    border-radius:50%;
    height:30%;
    width: 16%;

}

