*{
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

.board {
   display:flex;
   height: 300px;
   width: 100%;
   justify-content:center;
}
.board div{
    border: 1px grey solid;
    padding: 10px;
}
.row {
    width:50%;
}
.pocket {
    display:flex;
    width:20%;
    justify-content: center;
}
.pocket1 {
    height: 100%;
    width: 50%;
    border-radius:60%;
    
}
.row1 {
    height:50%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.pocket2 {
    height: 100%;
    width:50%;
    border-radius:60%;

}
.row2 {
    height:50%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.row1 div {
    border-radius:50%;
}
.row2 div {
    border-radius:50%;
}

